body {
  transition: background-color 0.5s;
  height: 85vh;
  background-image: url("images/bgc_main1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background: url("images/bgc_main1.png") no-repeat center/cover;
}

.first {
  text-align: center;
  margin-top: 120px;
  /* margin-left: 50px; */
  color: #ffffff;
  font-size: 40px;
}

.second {
  text-align: center;
  margin-top: 10px;
  margin-left: -370px;
  color: #ffffff;
  font-size: 40px;
}

img {
  margin-top: -68px;
  margin-left: 20%;
}

.video {
  margin-top: 15px;
  margin-left: 350px;
  font-size: 20px;
  font-weight: bolder;
  color: #000000;
}

iframe {
  border-radius: 5px;
  box-shadow: 6px 6px 6px #acacac;
}

.youtube {
  position: relative;
  margin-top: 15px;
  margin-left: 300px;
}

.two {
  margin-left: 10px;
}

.three {
  margin-left: 10px;
}

.notice {
  position: relative;
  margin-top: 30px;
  margin-left: 350px;
  font-size: 20px;
  font-weight: bolder;
  color: #000000;
}

/* 메뉴 버튼 */
.menu_image {
  background-color: transparent !important;
  border: 0;
  position: absolute;
  left: 65px;
  top: 65px;
  cursor: pointer;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: gainsboro;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 150px;
  box-shadow: 40px 0px 500px #2d2d2d;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
